.footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background: var(--background-color-footer);
    text-align: center;
    z-index: 11;
}

.container-footer {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.footer a {
    color: var(--text-color);
    text-decoration: none;
}